<a href="https://colab.research.google.com/github/Werick/Google_colab/blob/master/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install db-sqlite3

Collecting db-sqlite3
  Downloading https://files.pythonhosted.org/packages/ff/00/e1f3d7bf1e0bff7c0574c0d5535c041e139d4ce43db196147e4c62f52ed5/db-sqlite3-0.0.1.tar.gz
Collecting db
  Downloading https://files.pythonhosted.org/packages/a9/22/f65d64c83e63790b3273c6adb3bff338ad594f46d84b41bd1f94593b40a6/db-0.1.1.tar.gz
Collecting antiorm
  Downloading https://files.pythonhosted.org/packages/0b/f8/71baa4824d9666c1be51d117119579a97f461ddbded48b2e01a6ad0554b5/antiorm-1.2.1.tar.gz (171kB)
     |████████████████████████████████| 174kB 2.8MB/s
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py) ... done
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-cp36-none-any.whl size=1797 sha256=d558c4a8a9021c9f2981c5c8039be3b65dc82d52725c45c02c103a67ffab6f41
  Stored in directory: /root/.cache/pip/wheels/e0/f8/cb/08e3a3a63bdea9ac3a0cccd140636b6cf94e3fb7df1070b12e
  Building wheel for db (setup.py) ... done
  Created wheel for db: filename=db-0.1.1-cp36-none-any.whl size=3894 sha256=5de6df70bea559f166bdc357e71eeb27f5b47c129bc902b8b0ec7933fcd3c134
  Stored in directory: /root/.cache/pip/wheels/30/eb/ba/237fa002d1d1b2e73cedcefd26a9db37c4b72c7e5156ea0501
  Building wheel for antiorm (setup.py) ... done
  Created wheel for antiorm: filename=antiorm-1.2.1-cp36-none-any.whl size=31664 sha256=7fdd911f6dfdb01c19b8e7489fe55112ab91b0b3a8578d8b8e94b3be58678657
  Stored in directory: /root/.cache/pip/wheels/b0/91/4d/f8fe808786ff1cda9e7e99e1b1bbda9196ab26786017965313
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1

In [5]:
import pandas as pd
import sqlite3
from datetime import date

#connecting with a db instance
db = sqlite3.connect("testing.db")
db.execute("drop table if exists results")
try:
  db.execute("create table results(name text, date datetime, mobile text, mail text)")
except:
  print("Table already exists")

In [14]:
db = sqlite3.connect("testing.db")
Date = date.today().strftime("%d-%m-%Y")
Name = "Test Erick"
Mobile = "2020200202"
mail = "test@gmail"
cmd = "insert into results(name, mobile,date,mail) values('{}','{}','{}','{}')". format(Name,Mobile,Date,mail)
db.execute(cmd)
db.commit()

#rs=db.execute("show tables")

In [15]:
db = sqlite3.connect("testing.db")
tables_df = pd.read_sql_query("select * from results",db)
tables_df.head()

         name        date      mobile        mail
0  Test Erick  27-08-2020  2020200202  test@gmail
1  Test Erick  27-08-2020  2020200202  test@gmail