<a href="https://colab.research.google.com/github/Werick/Google_colab/blob/master/SQL_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install db-sqlite3

Collecting db-sqlite3
  Downloading https://files.pythonhosted.org/packages/ff/00/e1f3d7bf1e0bff7c0574c0d5535c041e139d4ce43db196147e4c62f52ed5/db-sqlite3-0.0.1.tar.gz
Collecting db
  Downloading https://files.pythonhosted.org/packages/a9/22/f65d64c83e63790b3273c6adb3bff338ad594f46d84b41bd1f94593b40a6/db-0.1.1.tar.gz
Collecting antiorm
  Downloading https://files.pythonhosted.org/packages/0b/f8/71baa4824d9666c1be51d117119579a97f461ddbded48b2e01a6ad0554b5/antiorm-1.2.1.tar.gz (171kB)
     |████████████████████████████████| 174kB 2.8MB/s
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py) ... done
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-cp36-none-any.whl size=1797 sha256=d558c4a8a9021c9f2981c5c8039be3b65dc82d52725c45c02c103a67ffab6f41
  Stored in directory: /root/.cache/pip/wheels/e0/f8/cb/08e3a3a63bdea9ac3a0cccd140636b6cf94e3fb7df1070b12e
  Building wheel for db (setup.py) ... done
  Created wheel for db: filename=db-0.1.1-cp36-none-any.whl size=3894 sha256=5de6df70bea559f166bdc357e71eeb27f5b47c129bc902b8b0ec7933fcd3c134
  Stored in directory: /root/.cache/pip/wheels/30/eb/ba/237fa002d1d1b2e73cedcefd26a9db37c4b72c7e5156ea0501
  Building wheel for antiorm (setup.py) ... done
  Created wheel for antiorm: filename=antiorm-1.2.1-cp36-none-any.whl size=31664 sha256=7fdd911f6dfdb01c19b8e7489fe55112ab91b0b3a8578d8b8e94b3be58678657
  Stored in directory: /root/.cache/pip/wheels/b0/91/4d/f8fe808786ff1cda9e7e99e1b1bbda9196ab26786017965313
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1

In [ ]:
import pandas as pd
import sqlite3
from datetime import date

#connecting with a db instance
db = sqlite3.connect("testing.db")
db.execute("drop table if exists results")
try:
  db.execute("create table results(name text, date datetime, mobile text, mail text)")
except:
  print("Table already exists")

In [ ]:
db = sqlite3.connect("testing.db")
Date = date.today().strftime("%d-%m-%Y")
Name = "Test Erick"
Mobile = "2020200202"
mail = "test@gmail"
cmd = "insert into results(name, mobile,date,mail) values('{}','{}','{}','{}')". format(Name,Mobile,Date,mail)
db.execute(cmd)
db.commit()

#rs=db.execute("show tables")

In [ ]:
db = sqlite3.connect("testing.db")
tables_df = pd.read_sql_query("select * from results",db)
tables_df.head()

         name        date      mobile        mail
0  Test Erick  28-08-2020  2020200202  test@gmail

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
# Read the csv data
import pandas as pd
ug_df = pd.read_csv('/content/drive/My Drive/Colab_Notebooks/Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv')
ug_df.head()

# upload csv to sqlite db
ug_df.to_sql('ug_crop_pop',db, if_exists="replace", index=False)

In [ ]:
# Query data on the testing db
query = """
select * from ug_crop_pop
where DISTRICT_NAME="KOTIDO"
"""
tables_df = pd.read_sql_query(query,db)
tables_df.head()

   OBJECTID       SUBCOUNTY_NAME  ...    S_Prod_Tot     M_Prod_Tot
0       263              KACHERI  ...  2.279092e+06  600723.892900
1       264               KOTIDO  ...  4.582294e+06  959201.382500
2       265  KOTIDO TOWN COUNCIL  ...  5.614765e+05    9991.488268
3       266         NAKAPERIMORU  ...  1.915696e+06   38971.659080
4       267           PANYANGARA  ...  3.779939e+06  221609.511400

[5 rows x 13 columns]