<a href="https://colab.research.google.com/github/Werick/Google_colab/blob/master/SQLITE_IN_MEM_DB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# We will first load the sql extension into our environment
#
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed
#
%sql sqlite://

'Connected: @None'

In [2]:
# Importing the python libraries that we will need in this notebook
#
import csv
import pandas as pd

In [6]:
# Loading the first table from a local CSV file
#
with open('Countries.csv','r') as f:
    Interpol = pd.read_csv(f, index_col=0, encoding='utf-8') 

Interpol.head()
# Then storing it in an SQL table of our in memory sqlite database
#
%sql DROP TABLE if EXISTS Interpol;
%sql PERSIST Interpol;

 * sqlite://
Done.
 * sqlite://

'Persisted interpol'

In [7]:
with open('WorldCup.csv','r') as f:
  worldcup = pd.read_csv(f,index_col=0,encoding='utf-8')

# store it in an SQL tab of our in Memory sqlite db

%sql DROP TABLE if EXISTS worldcup
%sql PERSIST worldcup

 * sqlite://
Done.
 * sqlite://

'Persisted worldcup'

In [8]:
# Let's preview our Interpol table so that we can understand it
# Try to understand all the attributes (i.e columns) since this
# will be one of the datasets that we will work with through this session
#
%sql select * from Interpol limit 10;

 * sqlite://
Done.

[('Albania', 3, 3, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/al.gif'),
 ('Angola', 0, 0, 1, 'Northern Africa', 'http://www.crwflags.com/fotw/images/a/ao.gif'),
 ('Argentina', 2, 2, 1, 'South America', 'http://www.crwflags.com/fotw/images/a/ar.gif'),
 ('Australia', 1, 1, 2, 'Oceania', 'http://www.crwflags.com/fotw/images/a/au.gif'),
 ('Austria', 1, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/at.gif'),
 ('Bangladesh', 2, 1, 1, 'Asia', 'http://www.crwflags.com/fotw/images/b/bd.gif'),
 ('Belarus', 1, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/b/by.gif'),
 ('Belgium', 0, 2, 0, 'Europe', 'http://www.crwflags.com/fotw/images/b/be.gif'),
 ('Belize', 1, 1, 0, 'Central America', 'http://www.crwflags.com/fotw/images/b/bz.gif'),
 ('Bolivia', 0, 0, 2, 'South America', 'http://www.crwflags.com/fotw/images/b/bo.gif')]

In [10]:
# Let's preview our worldcup table so that we can understand it
# Try to understand all the attributes (i.e columns) since this
# will be one of the datasets that we will work with through this session
#
%sql select * from worldcup limit 10

 * sqlite://
Done.

[(1930, '13 Jul 1930 - 15:00 ', 'Group 1', 'Pocitos', 'Montevideo ', 'France', 4, 1, 'Mexico', ' ', 4444.0, 3, 0, 'LOMBARDI Domingo (URU)', 'CRISTOPHE Henry (BEL)', 'REGO Gilberto (BRA)', 201, 1096, 'FRA', 'MEX'),
 (1930, '13 Jul 1930 - 15:00 ', 'Group 4', 'Parque Central', 'Montevideo ', 'USA', 3, 0, 'Belgium', ' ', 18346.0, 2, 0, 'MACIAS Jose (ARG)', 'MATEUCCI Francisco (URU)', 'WARNKEN Alberto (CHI)', 201, 1090, 'USA', 'BEL'),
 (1930, '14 Jul 1930 - 12:45 ', 'Group 2', 'Parque Central', 'Montevideo ', 'Yugoslavia', 2, 1, 'Brazil', ' ', 24059.0, 2, 0, 'TEJADA Anibal (URU)', 'VALLARINO Ricardo (URU)', 'BALWAY Thomas (FRA)', 201, 1093, 'YUG', 'BRA'),
 (1930, '14 Jul 1930 - 14:50 ', 'Group 3', 'Pocitos', 'Montevideo ', 'Romania', 3, 1, 'Peru', ' ', 2549.0, 1, 0, 'WARNKEN Alberto (CHI)', 'LANGENUS Jean (BEL)', 'MATEUCCI Francisco (URU)', 201, 1098, 'ROU', 'PER'),
 (1930, '15 Jul 1930 - 16:00 ', 'Group 1', 'Parque Central', 'Montevideo ', 'Argentina', 1, 0, 'France', ' ', 23409.0, 0, 0, 'REGO Gilberto (BRA)', 'SAUCEDO Ulises (BOL)', 'RADULESCU Constantin (ROU)', 201, 1085, 'ARG', 'FRA'),
 (1930, '16 Jul 1930 - 14:45 ', 'Group 1', 'Parque Central', 'Montevideo ', 'Chile', 3, 0, 'Mexico', ' ', 9249.0, 1, 0, 'CRISTOPHE Henry (BEL)', 'APHESTEGUY Martin (URU)', 'LANGENUS Jean (BEL)', 201, 1095, 'CHI', 'MEX'),
 (1930, '17 Jul 1930 - 12:45 ', 'Group 2', 'Parque Central', 'Montevideo ', 'Yugoslavia', 4, 0, 'Bolivia', ' ', 18306.0, 0, 0, 'MATEUCCI Francisco (URU)', 'LOMBARDI Domingo (URU)', 'WARNKEN Alberto (CHI)', 201, 1092, 'YUG', 'BOL'),
 (1930, '17 Jul 1930 - 14:45 ', 'Group 4', 'Parque Central', 'Montevideo ', 'USA', 3, 0, 'Paraguay', ' ', 18306.0, 2, 0, 'MACIAS Jose (ARG)', 'APHESTEGUY Martin (URU)', 'TEJADA Anibal (URU)', 201, 1097, 'USA', 'PAR'),
 (1930, '18 Jul 1930 - 14:30 ', 'Group 3', 'Estadio Centenario', 'Montevideo ', 'Uruguay', 1, 0, 'Peru', ' ', 57735.0, 0, 0, 'LANGENUS Jean (BEL)', 'BALWAY Thomas (FRA)', 'CRISTOPHE Henry (BEL)', 201, 1099, 'URU', 'PER'),
 (1930, '19 Jul 1930 - 12:50 ', 'Group 1', 'Estadio Centenario', 'Montevideo ', 'Chile', 1, 0, 'France', ' ', 2000.0, 0, 0, 'TEJADA Anibal (URU)', 'LOMBARDI Domingo (URU)', 'REGO Gilberto (BRA)', 201, 1094, 'CHI', 'FRA')]

In [11]:
## Assigment for Willy
# This is super cool though
#
with open('Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv','r') as f:
  ug_crop_pop = pd.read_csv(f,index_col=0,encoding='utf-8')

# store it to an sql table
%sql DROP TABLE if EXISTS ug_crop_pop
%sql PERSIST ug_crop_pop

 * sqlite://
Done.
 * sqlite://

'Persisted ug_crop_pop'

In [12]:
# Preview the recors
%sql select * from ug_crop_pop limit 10;

 * sqlite://
Done.

[(263, 'KACHERI', 'KOTIDO', 17244, 1067176155, 'Y', 354.20741069999997, 1137.467019, 7023.533691, 6434.342449, 528.1242294, 2279091.779, 600723.8929),
 (264, 'KOTIDO', 'KOTIDO', 52771, 597575188, 'Y', 367.89052319999996, 1162.9966869999998, 13587.990759999999, 12455.59264, 824.7670809, 4582294.492, 959201.3825),
 (265, 'KOTIDO TOWN COUNCIL', 'KOTIDO', 27389, 23972401, 'Y', 369.3141771, 1167.005832, 1656.5318550000002, 1520.322052, 8.561643817, 561476.4874, 9991.488268000001),
 (266, 'NAKAPERIMORU', 'KOTIDO', 38775, 419111591, 'Y', 283.3245689, 852.3665784, 7087.823334000001, 6761.488901000001, 45.72171184, 1915695.928, 38971.65908),
 (267, 'PANYANGARA', 'KOTIDO', 65704, 880955930, 'Y', 373.8369255, 1283.859882, 10398.24939, 10111.198129999999, 172.6119139, 3779939.224, 221609.5114),
 (268, 'RENGEN', 'KOTIDO', 41273, 652744859, 'Y', 271.18584310000006, 1047.180128, 13278.52043, 12964.49973, 171.5857036, 3515788.789, 179681.139),
 (591, 'KAABONG  EAST', 'KAABONG', 42221, 60801942, 'Y', 160.5885252, 650.1235647999999, 1021.31699, 1004.647534, 15.66040911, 161334.8658, 10181.201),
 (592, 'KAABONG TOWN COUNCIL', 'KAABONG', 38857, 13071455, 'Y', 212.21070299999997, 1229.213444, 175.08052659999998, 156.5038884, 18.52618562, 33211.80017, 22772.636430000002),
 (593, 'KAABONG WEST', 'KAABONG', 41454, 67612362, 'Y', 208.04051840000002, 1056.416068, 967.3367266, 910.2541223, 56.27535518, 189369.7394, 59450.18942),
 (594, 'KALAPATA', 'KAABONG', 99203, 223116860, 'Y', 209.8093519, 633.4231821000001, 2834.349905, 2501.368282, 331.2257949, 524810.4582, 209806.09699999998)]

In [13]:
# 1.	Display a list of Sub Counties and their population and areas
%sql select SUBCOUNTY_NAME,POP,AREA from ug_crop_pop;

 * sqlite://
Done.

[('KACHERI', 17244, 1067176155),
 ('KOTIDO', 52771, 597575188),
 ('KOTIDO TOWN COUNCIL', 27389, 23972401),
 ('NAKAPERIMORU', 38775, 419111591),
 ('PANYANGARA', 65704, 880955930),
 ('RENGEN', 41273, 652744859),
 ('KAABONG  EAST', 42221, 60801942),
 ('KAABONG TOWN COUNCIL', 38857, 13071455),
 ('KAABONG WEST', 41454, 67612362),
 ('KALAPATA', 99203, 223116860),
 ('KAMION', 60070, 1199409465),
 ('KAPEDO', 33951, 304557831),
 ('KATHILE', 56870, 228457417),
 ('KAWALAKOL', 37691, 1742041261),
 ('LOBALANGIT', 22907, 302572789),
 ('LODIKO', 31820, 397700845),
 ('LOLELIA', 100919, 1069331387),
 ('LOYORO', 16608, 1330019236),
 ('NAPORE (KARENGA)', 20394, 309577387),
 ('SIDOK', 24092, 125330583),
 ('ABIM', 14377, 188613057),
 ('ABIM TOWN COUNCIL', 11489, 115941152),
 ('ALEREK', 12573, 1255760525),
 ('LOTUKEI', 18641, 191684465),
 ('MORULEM', 16834, 250364895),
 ('KARITA', 45015, 658008801),
 ('LOROO', 22541, 371970302),
 ('AMUDAT', 30181, 596393139),
 ('AMUDAT TOWN COUNCIL', 4053, 17207110),
 ('KATIKEKILE', 11772, 277451997),
 ('NADUNGET', 42115, 596023780),
 ('TAPAC', 21999, 622266516),
 ('NORTHERN DIVISION', 7161, 2738777),
 ('SOUTHERN DIVISION', 3272, 2121209),
 ('LOREGAE', 26644, 928683431),
 ('NAKAPIRIPIRIT TOWN COUNCIL', 1418, 4673094),
 ('NAMALU', 25905, 553067364),
 ('KAKOMONGOLE', 15960, 312709097),
 ('LOLACHAT', 22801, 642401705),
 ('LORENGEDWAT', 9929, 435714604),
 ('NABILATUK', 27534, 499776866),
 ('IRIIRI', 46979, 1030623258),
 ('LOPEEI', 18815, 790782350),
 ('LORENGECORA', 2503, 118997955),
 ('LOTOME', 17834, 125857565),
 ('MATANY', 29495, 338252511),
 ('NAPAK TOWN COUNCIL', 8010, 150906375),
 ('NGOLERIET', 20790, 158887552),
 ('NYAKWAE', 16470, 769609687),
 ('LOKOPO', 23200, 1794470536),
 ('RUPA', 41493, 2069554899),
 ('MORUITA', 16588, 839293722)]

In [15]:
# 2.	Sort the list of districts by total crop area (descending order).
%%sql select DISTRICT_NAME, sum("Crop_Area_Ha") as Crop_Area_Ha
from ug_crop_pop
group by DISTRICT_NAME
order by sum("Crop_Area_Ha") desc;

 * sqlite://
Done.

[('KOTIDO', 53032.64946),
 ('KAABONG', 28121.672534300003),
 ('NAKAPIRIPIRIT', 26372.698485360004),
 ('NAPAK', 22944.296022100003),
 ('MOROTO', 5954.814048168),
 ('AMUDAT', 5765.443717519999),
 ('ABIM', 5470.0683942000005)]

In [16]:
# 3.	Select only the Sub counties from the Moroto district, order them alphabetically and 
# show their production of sorghum.
%%sql 
SELECT SUBCOUNTY_NAME,S_Prod_Tot	
FROM ug_crop_pop
WHERE DISTRICT_NAME = "MOROTO"
ORDER BY SUBCOUNTY_NAME asc

 * sqlite://
Done.

[('KATIKEKILE', 9379.029413),
 ('NADUNGET', 321630.539),
 ('NORTHERN DIVISION', 17.28125956),
 ('RUPA', 227298.5184),
 ('SOUTHERN DIVISION', 19.67486547),
 ('TAPAC', 49251.66081)]

In [17]:
# 4.	Compute the total Maize production per District.
%%sql
select DISTRICT_NAME, sum("M_Prod_Tot") as Maize_Production
from ug_crop_pop
group by DISTRICT_NAME

 * sqlite://
Done.

[('ABIM', 1922133.1297),
 ('AMUDAT', 3546469.3324990002),
 ('KAABONG', 6990361.6143000005),
 ('KOTIDO', 2010179.0731479998),
 ('MOROTO', 422116.06882464996),
 ('NAKAPIRIPIRIT', 8125156.24546),
 ('NAPAK', 5587379.38888)]

In [18]:
# 5.Compute the number of Sub counties where Maize is produced and the total Maize production per District.
%%sql
select DISTRICT_NAME,count(SUBCOUNTY_NAME) as nsubcounty, sum("M_Prod_Tot") as Maize_Production
from ug_crop_pop
where M_Prod_Tot is not null
group by DISTRICT_NAME

 * sqlite://
Done.

[('ABIM', 6, 1922133.1297),
 ('AMUDAT', 4, 3546469.3324990002),
 ('KAABONG', 14, 6990361.6143000005),
 ('KOTIDO', 6, 2010179.0731479998),
 ('MOROTO', 6, 422116.06882464996),
 ('NAKAPIRIPIRIT', 8, 8125156.24546),
 ('NAPAK', 8, 5587379.38888)]

In [19]:
%sql select count(*) from ug_crop_pop where M_Prod_Tot is null

 * sqlite://
Done.

[(0,)]